body {
	background-color:white;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#cv {
	width:650px;
	height:965px;
	margin:0px;
}

div.page {
	display:block;
	background-color:white;
	margin-bottom:8px;
	width:650px;
	height:940px;
	page-break-after:always;
}

