@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);

.leckerli { font-family: 'Leckerli One', cursive; }
.titillium { font-family: 'Titillium Web', sans-serif; }

body {
	margin: 0px;
	padding: 0px;
	background-color:#160800;	
}

#linkedin-login {
	width:127px;
	height:48px;
	margin-left:198px;
	margin-top:40px;
}

#intro {
	margin-left:auto;
	margin-right:auto;
	width:523px;
	height:300px;
	background-color:#160800;
	border-radius: 15px;
	margin-top: 30px;
}

#logo {
	position:relative;
	display:inline-block;
	color:#F25F10;
	font-size: 80px;
	margin-left:81px;
	padding-top:20px;
}

#controls {
	display:none;
	margin-top:80px;
	float:right;
	/*width:105px;*/
}

#description {
	display:block;
	margin-left:97px;
	margin-top:15px;
	font-size: 20px;	
	color:#F25F10;
}

img.control_buttons {
	float:right;
	margin-left:23px;
}

#cv-container {
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	width:701px;
	display:none;
}

img.page-button {
	display:none;
}

div.button-holder {
	float:left;
	margin:346px 20px 0px 20px;
	width:48px;
	height:48px;
}

#cv {
	float:left;
	width:523px;
	height:740px;
	border-style:solid;
	border-width:thin;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}

div.page {
	float:left;
	background-color:#EDEDED;
	margin:0px;
	width:523px;
	height:740px;
}