@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);

.leckerli { font-family: 'Leckerli One', cursive; }
.titillium { font-family: 'Titillium Web', sans-serif; }

body {
	margin: 0px;
	padding: 0px;
	background-color:#160800;	
}

#linkedin-login {
	width:127px;
	height:48px;
	margin-left:186px;
	margin-top:40px;
}

#intro {
	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:300px;
	background-color:#160800;
	border-radius: 15px;
	margin-top: 30px;
}

#logo {
	display:block;
	color:#F25F10;
	font-size: 80px;
	margin-left:69px;
	padding-top:20px;
}

#description {
	display:block;
	margin-left:85px;
	margin-top:15px;
	font-size: 20px;	
	color:#F25F10;
}