@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Handlee);

.leckerli { font-family: 'Leckerli One', cursive; }
.handlee { font-family: 'Handlee', cursive; }

body {
	margin: 0px;
	padding: 0px;
	background-color:#ECDDC6;	
}

#nav-bar  {
	position:relative;
	top: 0px;
	height: 40px;
	width: 100%;
	background-color:#E0C8A3;
	marign: 0px;
	padding: 0px;
}

.center-page {
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
}

.nav-title {
	display:inline;
	color:#2A200E;
	font-size: 30px;
	margin:0px 0px 0px 0px;
}

#signin-text {
	float: right;
	position:relative;
	display:inline-box;
	top:12px;
	margin-right: 5px;
}

#linkedin-login {
	float: right;
	position:relative;
	display:inline-box;
	top:8px;	
}

#cv-container {
	margin-left:auto;
	margin-right:auto;
	width:630px;
}

img.page-button {
	display:none;
}

div.button-holder {
	float:left;
	margin-top:346px;
	width:48px;
	height:48px;
}

#cv {
	float:left;
	width:523px;
	height:740px;
	border-style:solid;
	border-width:thin;
	background-color:white;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

div.page {
	float:left;
	background-color:white;
	margin:0px;
	width:523px;
	height:740px;
}

