body {
	background-color:white;
}

#cv {
	float:left;
	border-style:none;
	width:650px;
	height:972px;
	margin:0px;
	
}

div.page {
	display:block;
	float:left;
	background-color:white;
	margin-bottom:8px;
	width:650px;
	height:972px;
	/*height:970px;*/
	/*border-style:solid;*/
	/*border-width:thin;*/
}

