@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Handlee);

body {
	background-color: Wheat;	
}

#page {
	margin-left:auto;
	margin-right:auto;
	width:1185px;
	margin-top:80px;
	
}

#menubar {
	float:left;
	width:430px;
	height: 700px;
	background-color:#CDF7DD;
	border-style:solid;
	border-color:#CDF7DD;
	border-radius: 15px;
	padding:20px;
	margin-right:50px;
}

.nav-title {
	color: red;
	font-size: 70px;
	margin:0px 0px 20px 0px;
	line-height:1;
}

.nav-writing {
	font-size: 20px;
	margin:0px 0px 5px 0px;
}

.nav-writing-small {
	font-size: 16px;
	margin:0px 0px 5px 3px;
	display: inline;	
}



.satisfy { font-family: 'Satisfy', cursive; }
.sacramento { font-family: 'Sacramento', cursive; }
.leckerli { font-family: 'Leckerli One', cursive; }
.handlee { font-family: 'Handlee', cursive; }

.IN-widget
{
	float:right;
}

div.share
{
	margin: 20px 0px 25px 0px;
	float: right;
}

img.share
{
	margin: 0px 3px 0px 3px;
	vertical-align:middle;
	horizontal-align:center;
}

#ads-box {
	background-color:white;
	margin-top: 40px;
	width:420px;
	height:420px;
	clear:both;
	border-style:solid;
	border-width:1px;
}

#logged-in-text {
	display:none;
}

img.page-button {
	display:none;
}

div.button-holder {
	float:left;
	margin-top:330px;
	width:48px;
	height:48px;
}

#cv {
	float:left;
	width:523px;
	height:740px;
	border-style:solid;
	border-width:thin;
	/*background-color:white;*/
}

div.page {
	float:left;
	background-color:white;
	margin:0px;
	width:523px;
	height:740px;
}

