
@import url(http://fonts.googleapis.com/css?family=Monda:700,400);
@import url(http://fonts.googleapis.com/css?family=Radley:400italic);
@import url(http://fonts.googleapis.com/css?family=Average+Sans);

body {
	background-color: #F8F8F8
	
	
}

#header {
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:970px;
	background-color: white;
}

#cv_page {
	padding:10px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:970px;
/*	height:700px; */
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:black;
/*	box-shadow: -3px 3px 3px #989898;*/
}

#name_place
{
	padding-left:10px;
	font-family: 'Monda', sans-serif;
	font-size:22px;
}

#cv_body
{
	border-top:solid;
	border-width:2px;
	border-color:#345D8F;
	height:600px;
}

#contact_place
{
	padding-left:10px;
	float:left;
	width:180px;	
	border-right:solid;
	border-width:2px;
	border-color:#345D8F;
	height:100%;	
	
}

#details_place
{
	float:left;
	width:710px;
}

#footer
{
	vertical-align: baseline;
	font-family: 'Radley', serif;
	font-size:8px;
}

label.title
{
	display:block;
	font-family: 'Monda', sans-serif;
	font-weight:700;
	color:#1D57B0;	
	font-size:14px;
}

label.field
{
	display:block;
	font-family: 'Average Sans', sans-serif;
	font-weight:400;
	font-size:12px;
}

p.bold_value
{
	display:block;
	font-family: 'Average Sans', sans-serif;
	font-weight:700;
	font-size:12px;
	margin:0px;
	padding: 0px 0px 0px 5px;
}
