<!DOCTYPE HTML>

<html>

	<head>
		<title>HappyCV.Co</title>
		<link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}serious_design.css">		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://platform.linkedin.com/in.js">
  			api_key: vrhgoh8uur9f
			scope: r_basicprofile,r_fullprofile,r_emailaddress,r_contactinfo
  			onLoad: onLinkedInLoad
  			<!--authorize: true-->
		</script>
		<script src="{{ STATIC_URL }}serious_design.js"></script>
		<script src="{{ STATIC_URL }}main.js"></script>		
	</head>	
	
	<body>
		<div id="page">
			<div id="menubar">
				<p class="nav-title leckerli">Welcome to PixledCV.com</p>
				<p class="nav-writing handlee">Refresh your CV with our great template.</p>
				<p id="login-text" class="nav-writing-small handlee">Sign in with linkedin to fillout the template:</p>
				<script type="in/Login"></script> 
				<p id="logged-in-text" class="nav-writing handlee"></p>
				
				<div class="share">
					<p class="nav-writing-small handlee">Share our site with your friends:</p>
					<img id="button-facebook" class="share" src="{{ STATIC_URL }}/facebook.png" onclick="printpage()"/>
					<img id="button-linkedin" class="share" src="{{ STATIC_URL }}/linkedin.png"/>
					<img id="button-twitter" class="share" src="{{ STATIC_URL }}/twitter-2.png"/>
					<img id="button-google-plus" class="share" src="{{ STATIC_URL }}/google-plus.png"/>
				</div>			
				
				<div id="ads-box">
				</div>
			</div>
			
			<div class="button-holder">
				<img id="prev-button" class="page-button" src="{{ STATIC_URL }}/prev.png"/>
			</div>
			<div id="cv"></div>
			<div class="button-holder">
				<img id="next-button" class="page-button" src="{{ STATIC_URL }}/next.png"/>
			</div>
		</div>			
	</body>
	
	
</html>
